<div class="row">
  <div class="col-sm-8 mx-auto">
    <div class="container">
      <div
        class="jumbotron mx-auto my-auto"
        id="jumbo">
        <div class="row">
          <div class="col-lg-3"
            id="innerJumbo">
            <a
              id="DenisImgLink"
              (click)="sharedJumbotronService.openModal(jumboImgSender.id)"
              #jumboImgSender>
              <img
                [ngClass]="
                  {'img-fluid mb-3': !windowSize.isDesktopSize()}"
                [height]="148"
                class="roundedImg"
                src="assets/images/DenisImgS.jpg"
                alt="Denis_Coccodi">
            </a>
          </div>

          <div class="col-lg-9" [ngClass]="
            {'pl-4': windowSize.isDesktopSize()}">

            <div class="d-flex flex-row jumboItemBg mb-1 p-1">
              <i class="fa fa-fw fa-map-marker p-1 ml-1 my-auto darkOrangeText" aria-hidden="true"></i>
              <div class="jumboItemText my-auto handCursor"><a
                  [id]="getAddress()"
                  (click)="sharedJumbotronService.openModal(jumboAddressSender.id)"
                  #jumboAddressSender>
                {{ locationAddress }}</a>
              </div>
              <div class="ml-auto my-auto">
                <ui-switch
                  class="my-auto text-truncate"
                  size="small"
                  color="#ff7200"
                  defaultBgColor="#ff7200"
                  (change)="changeAddress()">
                </ui-switch>
              </div>
            </div>

            <div class="d-flex flex-row jumboItemBg my-1 p-1">
              <i class="fa fa-fw fa-calendar p-1 ml-1 mr-1 my-auto darkOrangeText" aria-hidden="true"></i>
              <div class="jumboItemText my-auto">
                21/02/1985
              </div>
            </div>


            <div class="d-flex flex-row jumboItemBg my-1 p-1">
              <i class="fa fa-fw fa-phone-square p-1 ml-1 my-auto darkOrangeText" aria-hidden="true"></i>
              <div class="jumboItemText my-auto">
                <a href="tel:+393491025809" id="tel" class="jumboItemText">+39 349 102 5809</a>
              </div>
            </div>

            <div class="d-flex flex-row jumboItemBg mt-1 p-1">
              <i class="fa fa-fw fa fa-envelope p-1 my-auto darkOrangeText" aria-hidden="true"></i>
              <div class="jumboItemText my-auto ml-1 handCursor"><a
                  id="emailClient"
                  (click)="sharedJumbotronService.openModal(emailClientSender.id)"
                  #emailClientSender>
                denis@deniscoccodi.com</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-shared-jumbotron-modal></app-shared-jumbotron-modal>
