ul {
  list-style: none;
}

.fileRow {
  min-width: 200px;
}

.folderLink:hover {
  cursor: pointer;
}

.orangeRow {
  color: white;
  padding: 5px;
  width: 100% !important;
  background: -moz-linear-gradient(left, rgba(255,114,0,0.91) 0%, rgba(255,114,0,0.98) 61%, rgba(255,186,131,1) 81%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,114,0,0.91) 0%,rgba(255,114,0,0.98) 61%,rgba(255,186,131,1) 81%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,114,0,0.91) 0%,rgba(255,114,0,0.98) 61%,rgba(255,186,131,1) 81%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ff7200', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

a {
   color: #707070;
}

a:focus, a:hover {
  text-decoration: underline;
}

.fileRow {
  min-width: 200px;
}

.fileRow a {
  color: #3d3d3d;
}

.fileRow a:hover, .fileRow a:focus {
  text-decoration: underline;
}

.odd {
  background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 1%, rgba(242,242,242,0.86) 65%, rgba(242,242,242,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 1%,rgba(242,242,242,0.86) 65%,rgba(242,242,242,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 1%,rgba(242,242,242,0.86) 65%,rgba(242,242,242,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00f2f2f2',GradientType=1 ); /* IE6-9 */
}

.even {
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.86) 65%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.86) 65%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.86) 65%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
