<div class="cvRowContainer row" *ngIf="occurrence.addToCv == 1">
  <div
    class="leftColumn col-lg-3"
    [ngClass]="{
                'ml-3': windowSize.getCurrentSize() === 'xs' || windowSize.getCurrentSize() === 'sm',
                'text-right pb-3': windowSize.isDesktopSize()
              }">
      <span *ngIf="coreService.getLang() === 'ita'">
        {{ occurrence.startDate | date:'MMM yyyy':'':'it' | capitalize }} -
        {{ occurrence.endDate | date:'MMM yyyy':'':'it' | capitalize | futureToToday }}
      </span>
      <span *ngIf="coreService.getLang() === 'eng'">
        {{ occurrence.startDate | date:'MMM yyyy':'':'en-US' | capitalize }} -
        {{ occurrence.endDate | date:'MMM yyyy':'':'en-US' | capitalize | futureToToday }}
      </span>
  </div>
  <div class="rightColumn col-lg-9 pb-3">
    <div class="titleContainer cvTitle">
      <h5>
        <a [href]="occurrence.attachedFile" target="_blank" *ngIf="occurrence.attachedFile; else noTitleLink">
          {{ occurrence.title }} {{ occurrence.score }}
        </a>
        <ng-template #noTitleLink>
          <span class="noLink">{{ occurrence.title }} {{ occurrence.score }}</span>
        </ng-template>
      </h5>
    </div>
    <div class="cvContent">
      <h6 class="darkGrey">{{ occurrence.company }} - {{ occurrence.location }}</h6>
      <div class="mt-3">
        <h6>{{ occurrence.description }}</h6>
      </div>
    </div>
    <app-certificates [occurrenceRef]="occurrence" [categoryRef]="category"></app-certificates>
  </div>
</div>
